doctype

html
	head
		meta(charset='utf-8')
		title Construction Services | Servicing new project development and renovation surveillance
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="format-detection", content="telephone=yes")
		meta(name='description', content='Professional, licensed and insured, aerial photography for construction applications, site surveys, progression tracking, creative promotions, and more! Call today for more information.')
		meta(name='keywords', content='Aerial, Photography, Drone, UAV, Construction, Survey, Mapping, Progression, tracking, Portfolio, Advertising, Commercials, Media, Litigation. Toronto, GTA, Vaughn, Maple, Ontario, Phantom, UAS, Toronto Skycam')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/style.css')
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="icon", href="/favicon.ico", type="image/x-icon")

	body
		//-top  nav
		include navbar
		.services-container
			.con-picture
			h1 Construction
			h2 Aerial Photography for Construction
			p Toronto Skycam offers a variety of professional aerial imaging services, allowing us to deliver effective and efficient results every time. We operate a fleet of the highest quality, most advanced drone aircraft on the market, fitted with a variety of camera equipment, to offer our clients a dynamic solution like no other. Our construction services include:

			p <span>Site Surveys:</span> Aerial site surveys have become invaluable in the world of construction, for offering unmatched oversight, allowing more informed and efficient decisions to be made. Here at Toronto Skycam we offer the option to live stream aerial footage from the drone to an HD monitor on the ground, giving you or your technicians a unique birds eye view of the job site, allowing you to plan, organize, and operate much more efficiently. During this process images and video can be strategically captured and saved, allowing you to keep accurate records for future review.

			p <span>Progression Tracking:</span> This service is rapidly gaining popularity among many of North America’s top construction companies. With fully equipped camera drones, we make scheduled visits to your job site, capturing professional grade HD imagery, eventually resulting in a photographic timeline of the entire construction process, beginning to end. This is very useful for tracking overall job site efficiency, but most importantly, it has been found crucial for litigation purposes, as all imagery is dated and provides detailed visual evidence at any point during the construction process.

			p <span>Creative Promotions:</span> If you’re looking for some great material for future ad campaigns, Toronto Skycam should be a major consideration. Our creative promotions service is a cutting edge strategy used to capture aerial imagery to showcase your most prestigious projects. We then work with a team of media professionals, and develop a breathtaking promotional video to fit your exact specifications. Or perhaps you have your own media team and simply want the raw footage, in which we are happy to accommodate all and any of your special requests.
		include footer
		//- jquery scripts
		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='js/headroom.js')
		script(src='js/script.js')
		script(src='js/googletrack.js')