section#contact
	.contact-wrapper
		.heading-wrapper
			h1 contact
			p Have a question? Let us know whats on your mind. We'll get back to you in under 24hrs.
			p Or give us a call
			p.number (647) 217-4655
		.form-wrapper
			form.contact-form(id="hello")
				input(type='hidden', name='hidden',value='contact')
				.input-group
					input(type='text', name='name')
					label Your Name
				.input-group
					input(type='text', name='email')
					label Your Email
				.input-group
					textarea(type='textl', name='message', rows='6')
					label Message
				.input-group
					input#submit(type='submit', value='submit')



