footer#footer
	//- .blue
	.footer-topWrapper

		.who
			h4 Our Guarantee
			p As Toronto’s premiere aerial imaging service, we take pride in offering the highest possible level of customer service with every new project. Customer satisfaction is our top priority and always guaranteed!
		.contact-us
			h4 Contact-Us
			//- p.address 123 fake street, Maple ON L4T 3E7
			p.phone Phone: (647) 217-4655
			p.email Email:
				a(href='mailto:info@torontoskycam.com')    info@torontoskycam.com
			p.lastwords Get in touch with us today and let us elevate your perspective!
		.links
			h4 Links
			ul.footer-nav
				li: a(href='index.html#start') Home
				li: a(href="photography.html") Photography
				li: a(href="videos.html") Videos
				li: a(href='industrial') Industrial Services
				li: a(href='construction.html') Construction Services
				li: a(href='promotions.html') Promotional / Events
				li: a(href='realestate.html') Real Estate
				li: a(href='index.html#contact') Contact Us
				li: a(href="terms.html") Terms &amp; Conditions


	.footer-bottomWrapper
		p &copy; 2015 torontoskycam
		ul.icons
			li: a(href='https://www.youtube.com/channel/UCt2kfEFZgG4nmZSijk7gqFA', target='_blank'): i.fa.fa-youtube.fa-2x
			li: a(href='https://instagram.com/torontoskycamera'): i.fa.fa-instagram.fa-2x
			li: a(href='https://twitter.com/torontoskycam', target='_blank'): i.fa.fa-twitter-square.fa-2x