doctype

html
	head
		meta(charset='utf-8')
		title Construction Services | Servicing new project development and renovation surveillance
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="format-detection", content="telephone=yes")
		meta(name='description', content='Professional aerial photography, fully certified, and insured to suit all your industrial needs. Experienced in equipment inspection, aerial surveys, and much more. Call to today for more information.')
		meta(name='keywords', content='Aerial, Photography, Drone, UAV, UAS, Industrial, Power, Hydro, Tower, Inspection, Equipment, Oil, Refinery, Pipeline, Generator, Toronto, Ontario, Toronto Skycam')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/style.css')
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="icon", href="/favicon.ico", type="image/x-icon")

	body
		//-top  nav
		include navbar
		.services-container
			.ind-picture
			h1 Industrial Services
			h2 Aerial Industrial Photography
			p Toronto Skycam offers a professional aerial photography solutions catered to industrial needs demanded by: Hydro plants, pump stations, oil wells, refineries, gas plants, etc. We are capable of adding significant value in many industrial applications.

			p <span>Equipment Inspection:</span> Aerial photography is quickly becoming the method of choice for inspection of industrial equipment. Using high-resolution imagery, mounted on remotely controlled aircraft, we accomplish in minutes, operations that once included, multiple personnel, very high levels of risk, and consumed a lot of time.

			p The images from our aircraft can be live streamed to the ground in full HD, allowing a qualified technician to visually inspect equipment from all angles without ever leaving the ground. In addition, images can be saved and stored for future review and comparison. This simple yet technologically advanced solution saves time, money, and prevents tragic accidents from ever occurring. Our inspection services are useful for inspection of: power lines, hydro towers, communications equipment, hydro dams, pump stations, and more. Call today for a more detailed explanation of our service, and to find out what we can do for you!
		include footer
		//- jquery scripts
		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='js/headroom.js')
		script(src='js/script.js')
		script(src='js/googletrack.js')