doctype

html
	head
		meta(charset='utf-8')
		title Construction Services | Servicing new project development and renovation surveillance
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="format-detection", content="telephone=yes")
		meta(name='description', content='Toronto&#39;s most reputable aerial real estate photographers, professional, fully certified, and insured with 2 million in liability coverage. Call us today for a free quote.')
		meta(name='keywords', content='Aerial, Photography, Realestate, real, estate, real estate, house, sale, marketing, drone, UAV, UAS, Toronto, GTA, Toronto, Licensed, Remax, realtor, creative, advertising, dji, phantom, inspire, Toronto Skycam')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/style.css')
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="icon", href="/favicon.ico", type="image/x-icon")

	body
		//-top  nav
		include navbar
		.slideshow
			iframe(class="photobucket" src="http://s483.photobucket.com/user/TorontoSkycam/embed/slideshow/Toronto%20Skycam")
		.pics-container
			.allpics
				img(src='/images/portfolio-pics/_thumbs/001.jpg')
				img(src='/images/portfolio-pics/_thumbs/002.jpg')
				img(src='/images/portfolio-pics/_thumbs/003.jpg')
				img(src='/images/portfolio-pics/_thumbs/004.jpg')
				img(src='/images/portfolio-pics/_thumbs/005.jpg')
				img(src='/images/portfolio-pics/_thumbs/006.jpg')
				img(src='/images/portfolio-pics/_thumbs/007.jpg')
				img(src='/images/portfolio-pics/_thumbs/008.jpg')
				img(src='/images/portfolio-pics/_thumbs/009.jpg')
				img(src='/images/portfolio-pics/_thumbs/010.jpg')
				img(src='/images/portfolio-pics/_thumbs/011.jpg')
				img(src='/images/portfolio-pics/_thumbs/012.jpg')
				img(src='/images/portfolio-pics/_thumbs/013.jpg')
				img(src='/images/portfolio-pics/_thumbs/014.jpg')
				img(src='/images/portfolio-pics/_thumbs/015.jpg')
				img(src='/images/portfolio-pics/_thumbs/016.jpg')
				img(src='/images/portfolio-pics/_thumbs/017.jpg')
				img(src='/images/portfolio-pics/_thumbs/018.jpg')
				img(src='/images/portfolio-pics/_thumbs/019.jpg')
				img(src='/images/portfolio-pics/_thumbs/020.jpg')
				img(src='/images/portfolio-pics/_thumbs/021.jpg')
				img(src='/images/portfolio-pics/_thumbs/022.jpg')
				img(src='/images/portfolio-pics/_thumbs/023.jpg')
		.vid-link
			a(href='videos.html')
				p Check out our Videos

		include footer
		//- jquery scripts
		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='js/headroom.js')
		script(src='js/script.js')
		script(src='js/googletrack.js')