section#pics
		.promowrapper
			iframe(src="https://player.vimeo.com/video/134775014" width="785" height="531" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
		.pics-wrapper
			.img-container-1
				img(src='images/djiPhantom2-02.jpg')
			img.valley(src='images/valley-02.jpg')
			.img-container-2
				img(src='images/pilot-02.jpg')

