doctype

html
	head
		meta(charset='utf-8')
		title Construction Services | Servicing new project development and renovation surveillance
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="format-detection", content="telephone=yes")
		meta(name='description', content='Professional aerial promotions and event coverage from Toronto Skycam, Toronto&#39;s leading aerial photography company. Fully certified and insured, call us today for a free quote.')
		meta(name='keywords', content='Aerial, Photography, Aerial Photography, Drone, UAV, UAS, Event, Coverage, Promotions, Advertising, Car, Shows, Commercials, Dealership, Video, DJI, Phantom, Inspire, Toronto Skycam')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/style.css')
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="icon", href="/favicon.ico", type="image/x-icon")

	body
		//-top  nav
		include navbar
		.services-container
			.promo-picture
			h1 Promotional / Events
			h2 Aerial Promotions &amp; Event Photography
			p Our events and promotions services are designed to offer dynamic solutions to all our clients needs. Whether it’s a car show or a commercial advertisement, we have you covered. We use 4k camera setups on extremely stable drone aircraft, to provide you with a vantage point like never before.

			p <span>Shows:</span> If you have an upcoming show such as a concert or festival, consider adding aerial photography to your media coverage, and gain a view that will amaze both you, and your attendees. This footage is great for posting on social media, websites, and local media outlets.

			p <span>Events:</span> Our events service covers a variety of gatherings such as – car shows, sporting events, weddings, reunions, outdoor charity events, and much more. If you have an event coming up, give us a call to discuss specific details, and find out how we can best accommodate all of your needs.

			p <span>Promotions:</span> Toronto Skycam offers the finest aerial photography solutions, capable of fulfilling all you promotion and advertisement needs. Not only do we shoot with the most advanced camera systems and film in high resolution (4K), we also use the most advanced remotely controlled drone systems, highly trained pilots, and in-house specialized media production staff in the industry. We also offer a full range of postproduction services, allowing us to be your one stop shop for your next creative advertisement campaign. Call us today for further detail, and to discuss your specific needs.
		include footer
		//- jquery scripts
		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='js/headroom.js')
		script(src='js/script.js')
		script(src='js/googletrack.js')