doctype

html
	head
		meta(charset='utf-8')
		title Construction Services | Servicing new project development and renovation surveillance
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="format-detection", content="telephone=yes")
		meta(name='description', content='Toronto&#39;s most reputable aerial real estate photographers, professional, fully certified, and insured with 2 million in liability coverage. Call us today for a free quote.')
		meta(name='keywords', content='Aerial, Photography, Realestate, real, estate, real estate, house, sale, marketing, drone, UAV, UAS, Toronto, GTA, Toronto, Licensed, Remax, realtor, creative, advertising, dji, phantom, inspire, Toronto Skycam')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/style.css')
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="icon", href="/favicon.ico", type="image/x-icon")

	body
		//-top  nav
		include navbar
		.services-container
			.re-picture
			h1 Real Estate
			h2 Aerial Real Estate Photography
			p The world of real estate is constantly evolving; new aerial drone technology allows agents and homeowners alike, to showcase their property like never before. Using advanced camera drones, equipped with 4K high definition cameras, Toronto Skycam can capture your property like never before imaginable. Allowing potential buyers to gain a much larger perspective, not only do we showcase the house and outdoor landscape, but we also capture nearby parks, schools, the skyline, and much more. This means not only is the house being used as a selling point, but the entire community surrounding the house as well. Real estate aerial photography is proven to give your listing an edge!

			p Here is what some professionals are saying about aerial real estate photography:

			p "It's an incredible way to showcase larger properties with nice views - like waterfront and golf course homes," <i>said John O'Flaherty, an agent with Keller Williams in Fort Lauderdale, to the Business Journal.</i>

			p "I did it for another client. By Day 2, we had an offer on the property and it was from a buyer in Toronto who's never seen the property. They'd seen the tour, which is a complete aerial footage of the property and an inside tour, and it was sold within one week and they didn't even see the property," <i>said Paul Rouillard a real estate agent from Windsor Ontario.</i>

			p Call us today and find out just how much value we can add to your listing!
		include footer
		//- jquery scripts
		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='js/headroom.js')
		script(src='js/script.js')
		script(src='js/googletrack.js')