section#tagline
	.tagline--wrapper
		h1 elevate your perspective
		.tagline--subtext
			span Toronto Skycam
			p  As Toronto’s premiere aerial imaging service, we take pride in offering the highest possible level of customer service with every new project. Customer satisfaction is our top priority and always guaranteed. Our services span a wide variety of private, commercial, and industrial applications, where images can be acquired via specialized remote control aircraft or “Drones”. With an experienced staff, and advanced new technologies, you can be assured that every project will be a successful one. What are you waiting for? Elevate your perspective today!