doctype

html
	head
		meta(charset='utf-8')
		title Terms &amp; Conditions
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="format-detection", content="telephone=yes")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/style.css')
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="icon", href="/favicon.ico", type="image/x-icon")

	body
		//-top  nav
		include navbar
		.terms-wrapper
			h1 Terms and Conditions

			p Toronto Skycam always operates 100% within the law; all operators are highly trained, and operate with 1 million dollars of liability coverage. We always abide by local laws and regulations, including applying for all necessary permits when and where required.  In addition to this, our operators always follow strict company protocol and operations manuals, insuring that every flight is a safe one.
			p Payment can be made to Toronto Skycam by any of the following means:
			ul
				li Credit Card
				li Cash
				li Cheque
				li E-Transfer
			p All payments are due upon completion of work, before any footage is transferred, unless otherwise stated in writing.
			img(src='images/cards.png')
		include footer
		//- jquery scripts
		script(src='bower_components/jquery/dist/jquery.min.js')
		//- script(src='js/headroom.js')
		script(src='js/script.js')
		script(src='js/googletrack.js')