.panel
	.panel--first
		ul.title
			li fly
			li record
			li deploy


		p Working with Toronto Skycam is always a smooth, simple, and transparent process, once all specifics have been assessed, Simply:
		ol.custom-counter

			li: |Book a date and time.
			li: |An operator will arrive on site.
			li: |Your specific instructions are discussed and clarified.
			li: |One of our drones will take to the air capturing any and all footage required.
			li: |Footage can be recorded and saved for later use, live streamed to the ground for viewing, or both.
			li: |Work is complete; invoice will be immediately submitted, any and all recorded footage will be formatted to fit your desired application and transferred to you, ready to be deployed in any way you desire.
		.image
