.panel
	.panel--second
		ul.title
			li for
			li your
			li needs

		p Toronto Skycam offers a wide variety of aerial solutions to ensure our customers always receive custom tailored service to fit their exact needs. Whether you need to give a skilled technician a live view of a damaged power line, determining the condition before a worker is sent up. Or you just need to capture that special moment at your wedding, birthday party, or family reunion; we have the right equipment, and specialized operators, to get the job done. Satisfaction is always 100% guaranteed.
		ul.icons-bottom
			li: i.fa.fa-film.fa-3x
			li: i.fa.fa-gift.fa-3x
			li: i.fa.fa-database.fa-3x
			li: i.fa.fa-youtube.fa-3x
			li: i.fa.fa-vimeo-square.fa-3x
			li: i.fa.fa-rss.fa-3x
