a.panel
	.panel--third
		ul.title
			li high
			li quality
			li content
		.image

		.bottom

			.svg
			ul.quality
				li Up to 4K (30fps)
				li &
				li 3840 x 2160 px (16:9)
			p All our content is held to the highest standards of quality, we record only high definition video and pictures, and film in no less then 720p, up to 4k resolutions.  In addition to the outstanding resolution, all our cameras are mounted on vibration reducing mounts to ensure your footage is always vibration free, as well as being mounted on motorized gimbal systems, literally ensuring rock solid footage, you wont believe it was taken from a moving aircraft.  We have the right equipment for every application, from a Simple GoPro 4 on a small quad copter, or a cinema quality film camera on a multi rotor heavy lift platform, all the way to a specialized professional infrared inspection setup, we always get the job done right.