#pics
	position: relative
	margin-top: 2%
	// padding-top: 5%
	@media screen and (min-width: 1080px)
		padding-bottom: 4%

	.promowrapper
		display: flex
		flex-direction: columns
		justify-content: center
		align-items: center
		width: 100%
		padding-bottom: 2%
		// margin: 0 auto
		// .flex-video

		// 	padding-bottom: 10%
		// 	// padding-top: 1.38889rem
		// 	// position: relative
		// @media (max-width: 600px)
		// 	width: 20%
		// 	margin: 0 0

	.pics-wrapper
		display: flex
		flex-direction: row
		align-items: center
		justify-content: center
		margin: 2% 0
		width: 100%



		.img-container-1
			display: none
			@media (min-width: 1080px)
				display: block
				flex: 1 2 300px
				img
					position: relative

		.img-container-2
			display: none
			@media (min-width: 1080px)
				display: block
				flex: 1 1 300px
				img
					position: relative
		img.valley
			position: relative
			z-index: 1
			@media (min-width: 1080px)
				display: block
				flex: 1 1 300px
				transform-origin: center center
				transform: rotateZ(-5deg)
				box-shadow: 0 0 5px rgba(0,0,0,0.3)